version: "3.9"

services:
  accommodation-service:
    build:
      context: ./AccommodationService/AccommodationService
      dockerfile: Dockerfile
    container_name: accommodation-service
    ports:
      - "5002:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development

      ConnectionStrings__DefaultConnection: ${ACCOMMODATION_DB_CONNECTIONSTRING}

      RabbitMq__Host: ${RABBITMQ_HOST}
      RabbitMq__User: ${RABBITMQ_USER}
      RabbitMq__Pass: ${RABBITMQ_PASS}
      RabbitMq__VirtualHost: ${RABBITMQ_VHOST}
      RabbitMq__Exchange: ${RABBITMQ_EXCHANGE}
    networks:
      - shared-net

networks:
  shared-net:
    external: true
    name: shared-net
